In [35]:
for-each
for obj in collection:
    pass
range

SyntaxError: cannot assign to expression (1702138621.py, line 1)

In [1]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a=[4,'hi','nice',35]
b=[]
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'nicenice', 70]

In [7]:
a=[4,'hi','nice',35]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 70]

In [9]:
a*2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [15]:
#comprehension
##for-loop statements which are of one liner
#list comprehension
# [output for-loop]-map
#[output for-loop if-condition]-Filter
#dictionary comp
#{ key_op:value_op for-loop}
#set compr
# {output for-loop}
#generator comp
#{output for-loop}
b=[val*2 for val in a]
b

[8, 'hihi', 'nicenice', 70]

In [12]:
k=[4,7,3,87,98,65,2,1,22,35,56,78]

In [14]:
p=[val for val in k if val %2 ==0]
p

[4, 98, 2, 22, 56, 78]

In [20]:
p=[val for val in k if val %2==1 and val>10]
p

[87, 65, 35]

In [21]:
p=[]
for val in k:
    if val%2 == 0:
        p.append(val // 2)
    else:
        p.append(val*2)
p

[2, 14, 6, 174, 49, 130, 1, 2, 11, 70, 28, 39]

In [22]:
p=[val * 2 if val % 2 == 1 else val//2 for val in k ]
p

[2, 14, 6, 174, 49, 130, 1, 2, 11, 70, 28, 39]

In [23]:
#Task: multiply by 2 if odd otherwise check if it
#is less than 20 then do // 2 otherwise do not do anything
p=[val*2 if val%2 == 1 else (val//2 if val<20 else val)for val in k]
p

[2, 14, 6, 174, 98, 130, 1, 2, 22, 70, 56, 78]

In [24]:
m={val:val**2 for val in k if val % 2==0}
m

{4: 16, 98: 9604, 2: 4, 22: 484, 56: 3136, 78: 6084}

In [25]:
for i in m:
    print(i)

4
98
2
22
56
78

In [26]:
for key,value in m.items():
    print(key,value)

4 16
98 9604
2 4
22 484
56 3136
78 6084

In [ ]:
#user define functions
############

In [32]:
def function_ka_naam():
    print('ye kuch kar dega')
function_ka_naam()

ye kuch kar dega

In [33]:
function_ka_naam()

ye kuch kar dega

In [42]:
def akor(akValue,dusriValue):
    return akValue * dusriValue

In [43]:
akor(4,5)

20

In [46]:
def marimarzi(akValue,dusriValue):
    print('kuch bhi')
    return (akValue * dusriValue)+akValue

In [48]:
marimarzi(dusriValue=10,akValue=12)

kuch bhi

132

In [3]:
def kuchor(x=10,*v,**u):
    return[i*x for i in v],u

In [ ]:
kuchor(3,6,8,7)

In [5]:
kuchor(3,6,8,somedata =[3,4,5])

([18, 24], {'somedata': [3, 4, 5]})